.Wrapp{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #00000040;
    z-index: 99;
}

.Loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
}
.Loader:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  